In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

pwd = '../data/train.xlsx'
output_path = '../data(processed)/train.csv'

In [2]:
df = pd.read_excel(pwd)
df.head()

,id,amount,length,housing,income,purpose,overdue_times,default_times,total_default_number,last_overdue_months,...,account_number,loan_history,recent_loan_number,recent_account_months,credict_used_amount,credict_limit,half_used_credict_card,total_credict_card_number,last_credict_card_months,target
0,1,10000,3,租赁,4000,债务优化重组,0,0,0,43,...,3,3,0,21,1582,24000,1,3,4,0
1,2,12000,4,自有有贷,6500,信用卡账单分期,0,0,0,31,...,3,3,0,17,3488,43000,1,5,24,0
2,3,9000,1,自有有贷,9000,债务优化重组,1,0,0,10,...,2,2,1,14,2364,32500,0,2,32,0
3,4,7000,2,自有有贷,10500,债务优化重组,1,0,0,6,...,3,3,0,21,3944,38000,2,4,71,0
4,5,10000,5,租赁,12436,信用卡账单分期,0,0,0,38,...,4,2,0,21,6266,56000,2,5,12,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         500 non-null    int64
 1   amount                     500 non-null    int64
 2   length                     500 non-null    int64
 3   housing                    500 non-null    object
 4   income                     500 non-null    int64
 5   purpose                    500 non-null    object
 6   overdue_times              500 non-null    int64
 7   default_times              500 non-null    int64
 8   total_default_number       500 non-null    int64
 9   last_overdue_months        500 non-null    int64
 10  inquire_times              500 non-null    int64
 11  closed_credict_cards       500 non-null    int64
 12  total_balance              500 non-null    int64
 13  mortage_number             500 non-null    int64
 14  account_number             500 non-null    int64
 15  loan_history               500 non-null    int64
 16  recent_loan_number         500 non-null    int64
 17  recent_account_months      500 non-null    int64
 18  credict_used_amount        500 non-null    int64
 19  credict_limit              500 non-null    int64
 20  half_used_credict_card     500 non-null    int64
 21  total_credict_card_number  500 non-null    int64
 22  last_credict_card_months   500 non-null    int64
 23  target                     500 non-null    int64
dtypes: int64(22), object(2)
memory usage: 93.9+ KB

In [4]:
# 查看每列有多少唯一值
df.nunique()

id                           500
amount                        34
length                        10
housing                        3
income                       188
purpose                       13
overdue_times                  3
default_times                  3
total_default_number           3
last_overdue_months           78
inquire_times                  2
closed_credict_cards           3
total_balance                441
mortage_number                 6
account_number                 5
loan_history                   8
recent_loan_number             4
recent_account_months         61
credict_used_amount          456
credict_limit                167
half_used_credict_card         3
total_credict_card_number     12
last_credict_card_months      93
target                         2
dtype: int64

In [5]:
df.describe()

,id,amount,length,income,overdue_times,default_times,total_default_number,last_overdue_months,inquire_times,closed_credict_cards,...,account_number,loan_history,recent_loan_number,recent_account_months,credict_used_amount,credict_limit,half_used_credict_card,total_credict_card_number,last_credict_card_months,target
count,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.00000
mean,250.500000,12256.000000,6.472000,7346.68000,0.102000,0.016000,0.010000,32.308000,0.046000,0.00600,...,2.864000,2.040000,0.218000,25.872000,3186.204000,46610.000000,0.186000,2.348000,24.84800,0.02000
std,144.481833,8066.014206,3.115225,5174.63971,0.309496,0.154245,0.118016,15.379929,0.209695,0.09992,...,1.069482,1.230214,0.512837,20.494479,3669.220544,30158.165227,0.414424,1.650559,30.10391,0.14014
min,1.000000,1000.000000,1.000000,1000.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,1.000000,0.000000,0.000000,9.000000,0.000000,13000.000000,0.000000,0.000000,1.00000,0.00000
25%,125.750000,6000.000000,3.000000,4500.00000,0.000000,0.000000,0.000000,30.000000,0.000000,0.00000,...,2.000000,1.000000,0.000000,19.750000,1122.500000,27000.000000,0.000000,1.000000,5.00000,0.00000
50%,250.500000,10000.000000,7.000000,6110.00000,0.000000,0.000000,0.000000,31.000000,0.000000,0.00000,...,3.000000,2.000000,0.000000,21.000000,2072.000000,37000.000000,0.000000,2.000000,13.00000,0.00000
75%,375.250000,16000.000000,10.000000,9000.00000,0.000000,0.000000,0.000000,31.000000,0.000000,0.00000,...,3.000000,3.000000,0.000000,23.000000,3904.000000,55500.000000,0.000000,3.000000,32.00000,0.00000
max,500.000000,40000.000000,10.000000,80000.00000,2.000000,2.000000,2.000000,110.000000,1.000000,2.00000,...,5.000000,7.000000,3.000000,174.000000,30420.000000,241500.000000,2.000000,13.000000,167.00000,1.00000

In [6]:
# 找出非数值型的列
non_numeric_cols = df.select_dtypes(exclude=[np.number]).columns
non_numeric_cols

Index(['housing', 'purpose'], dtype='object')

In [7]:
df[non_numeric_cols].nunique()

housing     3
purpose    13
dtype: int64

In [8]:
mapping_dict = {
    'housing': {'其他': np.int64(0), '租赁': np.int64(1),
                '自有无贷': np.int64(2), '自有有贷': np.int64(3)},
    'purpose': {'个人综合消费贷': np.int64(0), '信用卡账单分期': np.int64(1),
                '债务优化重组': np.int64(2), '医疗支出分期': np.int64(3),
                '大件消费贷': np.int64(4), '婚庆分期': np.int64(5),
                '家装分期': np.int64(6), '小微经营贷': np.int64(7),
                '旅游消费贷': np.int64(8), '汽车消费贷': np.int64(9),
                '租房押金贷': np.int64(10), '绿色家电分期': np.int64(11),
                '购房贷': np.int64(12)}
}

# 对应mapping_dict进行映射
for col, mapping in mapping_dict.items():
    df[col] = df[col].map(mapping)
df.head()

,id,amount,length,housing,income,purpose,overdue_times,default_times,total_default_number,last_overdue_months,...,account_number,loan_history,recent_loan_number,recent_account_months,credict_used_amount,credict_limit,half_used_credict_card,total_credict_card_number,last_credict_card_months,target
0,1,10000,3,1,4000,2,0,0,0,43,...,3,3,0,21,1582,24000,1,3,4,0
1,2,12000,4,3,6500,1,0,0,0,31,...,3,3,0,17,3488,43000,1,5,24,0
2,3,9000,1,3,9000,2,1,0,0,10,...,2,2,1,14,2364,32500,0,2,32,0
3,4,7000,2,3,10500,2,1,0,0,6,...,3,3,0,21,3944,38000,2,4,71,0
4,5,10000,5,1,12436,1,0,0,0,38,...,4,2,0,21,6266,56000,2,5,12,0

In [9]:
# # laber encoding
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()

# mapping_dict = {}
# for col in non_numeric_cols:
#     df[col] = le.fit_transform(df[col])
#     # 输出mapping dict，对应原始值和编码值
#     mapping_dict[col] = dict(zip(le.classes_, le.transform(le.classes_)))
# print(mapping_dict)

In [10]:

df.to_csv(output_path, index=False)