In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

pwd = '../data/test.xlsx'
output_path = '../data(processed)/test.csv'

In [4]:
df = pd.read_excel(pwd)
df.head()

,id,amount,length,housing,income,purpose,overdue_times,default_times,total_default_number,last_overdue_months,...,mortage_number,account_number,loan_history,recent_loan_number,recent_account_months,credict_used_amount,credict_limit,half_used_credict_card,total_credict_card_number,last_credict_card_months
0,501,5000,1,租赁,1600,债务优化重组,0,0,0,31,...,0,1,0,0,21,1378,25000,0,0,22
1,502,37000,9,自有有贷,10200,债务优化重组,0,0,0,18,...,1,2,2,0,18,2812,47000,0,1,20
2,503,11000,7,自有有贷,0,旅游消费贷,0,0,0,68,...,3,4,4,1,9,3488,36500,0,3,41
3,504,9000,10,自有有贷,4553,债务优化重组,1,0,0,4,...,1,3,1,0,21,1614,25500,1,2,80
4,505,12000,10,自有无贷,9500,债务优化重组,1,0,0,3,...,0,3,2,0,21,1026,31500,0,3,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         2000 non-null   int64
 1   amount                     2000 non-null   int64
 2   length                     2000 non-null   int64
 3   housing                    2000 non-null   object
 4   income                     2000 non-null   int64
 5   purpose                    2000 non-null   object
 6   overdue_times              2000 non-null   int64
 7   default_times              2000 non-null   int64
 8   total_default_number       2000 non-null   int64
 9   last_overdue_months        2000 non-null   int64
 10  inquire_times              2000 non-null   int64
 11  closed_credict_cards       2000 non-null   int64
 12  total_balance              2000 non-null   int64
 13  mortage_number             2000 non-null   int64
 14  account_number             2000 non-null   int64
 15  loan_history               2000 non-null   int64
 16  recent_loan_number         2000 non-null   int64
 17  recent_account_months      2000 non-null   int64
 18  credict_used_amount        2000 non-null   int64
 19  credict_limit              2000 non-null   int64
 20  half_used_credict_card     2000 non-null   int64
 21  total_credict_card_number  2000 non-null   int64
 22  last_credict_card_months   2000 non-null   int64
dtypes: int64(21), object(2)
memory usage: 359.5+ KB

In [6]:
# 查看每列有多少唯一值
df.nunique()

id                           2000
amount                         38
length                         10
housing                         4
income                        463
purpose                        13
overdue_times                   4
default_times                   2
total_default_number            2
last_overdue_months            86
inquire_times                   3
closed_credict_cards            3
total_balance                1343
mortage_number                  7
account_number                  5
loan_history                    8
recent_loan_number              5
recent_account_months         104
credict_used_amount          1443
credict_limit                 231
half_used_credict_card          4
total_credict_card_number      11
last_credict_card_months      147
dtype: int64

In [7]:
df.describe()

,id,amount,length,income,overdue_times,default_times,total_default_number,last_overdue_months,inquire_times,closed_credict_cards,...,mortage_number,account_number,loan_history,recent_loan_number,recent_account_months,credict_used_amount,credict_limit,half_used_credict_card,total_credict_card_number,last_credict_card_months
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1500.500000,12323.000000,6.455000,7408.584000,0.115500,0.010500,0.00250,32.939000,0.042500,0.003500,...,0.740500,2.826500,1.92800,0.237000,25.286500,2953.175000,43209.500000,0.182500,2.167000,24.813500
std,577.494589,8451.827477,3.126638,5793.585858,0.336476,0.101956,0.04995,16.011198,0.206676,0.080567,...,0.822495,1.071901,1.22946,0.570082,19.132262,4144.832443,29365.277446,0.437366,1.540226,33.452478
min,501.000000,1000.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.00000,0.000000,9.000000,0.000000,13000.000000,0.000000,0.000000,0.000000
25%,1000.750000,6000.000000,3.750000,4277.500000,0.000000,0.000000,0.00000,30.000000,0.000000,0.000000,...,0.000000,2.000000,1.00000,0.000000,20.000000,1019.000000,26500.000000,0.000000,1.000000,6.000000
50%,1500.500000,10000.000000,7.000000,6000.000000,0.000000,0.000000,0.00000,31.000000,0.000000,0.000000,...,1.000000,3.000000,2.00000,0.000000,21.000000,1992.000000,36000.000000,0.000000,2.000000,13.000000
75%,2000.250000,16000.000000,10.000000,8780.500000,0.000000,0.000000,0.00000,32.000000,0.000000,0.000000,...,1.000000,3.000000,3.00000,0.000000,22.000000,3514.000000,50500.000000,0.000000,3.000000,28.250000
max,2500.000000,40000.000000,10.000000,70000.000000,3.000000,1.000000,1.00000,93.000000,2.000000,2.000000,...,6.000000,5.000000,7.00000,4.000000,180.000000,84290.000000,518000.000000,3.000000,10.000000,366.000000

In [8]:
# 找出非数值型的列
non_numeric_cols = df.select_dtypes(exclude=[np.number]).columns
non_numeric_cols

Index(['housing', 'purpose'], dtype='object')

In [9]:
df[non_numeric_cols].nunique()

housing     4
purpose    13
dtype: int64

In [10]:
# laber encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

mapping_dict = {}
for col in non_numeric_cols:
    df[col] = le.fit_transform(df[col])
    # 输出mapping dict，对应原始值和编码值
    mapping_dict[col] = dict(zip(le.classes_, le.transform(le.classes_)))
print(mapping_dict)

{'housing': {'其他': np.int64(0), '租赁': np.int64(1), '自有无贷': np.int64(2), '自有有贷': np.int64(3)}, 'purpose': {'个人综合消费贷': np.int64(0), '信用卡账单分期': np.int64(1), '债务优化重组': np.int64(2), '医疗支出分期': np.int64(3), '大件消费贷': np.int64(4), '婚庆分期': np.int64(5), '家装分期': np.int64(6), '小微经营贷': np.int64(7), '旅游消费贷': np.int64(8), '汽车消费贷': np.int64(9), '租房押金贷': np.int64(10), '绿色家电分期': np.int64(11), '购房贷': np.int64(12)}}

In [11]:

df.to_csv(output_path, index=False)